.plan-container {
  display: flex;
  gap: 20px;
}

.plan-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  width: 250px;
}
button {
  padding: 10px 20px;
  background-color: #00b894;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #019474;
}
